<mat-card>
  <mat-card-subtitle>
    {{activity.timestamp}}
  </mat-card-subtitle>
  <mat-card-content>
    <div *ngIf="activity.route">
      We climbed {{activity.route}}
    </div>
    <div *ngIf="activity.climber">
      Climber: {{activity.climber}}
    </div>
    <div *ngIf="activity.belayer">
      Belayer: {{activity.belayer}}
    </div>
    <p>
      {{activity.comments}}
    </p>
    

  </mat-card-content>
  <mat-card-footer>
    <button mat-button *ngIf="!activity.photo"> Add a photo </button>
    <button mat-button *ngIf="!activity.location"> Add a location </button>
    <button mat-button *ngIf="!activity.route"> Add a route </button>
    <button mat-button *ngIf="!activity.climber"> Add a climber </button>
    <button mat-button *ngIf="!activity.belayer"> Add a belayer </button>
    <button mat-button *ngIf="!activity.comments"> Add comments </button>
    <button mat-button> Remove </button>
  </mat-card-footer>
</mat-card>
