<mat-sidenav-container class="sidebar-container">
  <mat-sidenav #sidenav mode="over" class="sidebar">
    <mat-nav-list class="sidebar">
        <mat-list-item *ngFor="let menuItem of menuItems" class="sidebar">
          <mat-icon matListIcon>{{menuItem.icon}}</mat-icon>
          <a [routerLink]="menuItem.url" (click)="changeSection(menuItem)"> {{menuItem.title}} </a>
        </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span> <button mat-icon-button (click)="sidenav.toggle()"> <mat-icon>menu</mat-icon> </button> </span>
      <span> {{activeMenuItem.title}} </span>
      <span class="search-area">
        <mat-form-field color="primary" class="search-bar">
          <span matPrefix> <button mat-icon-button><mat-icon>search</mat-icon></button></span>
          <input matInput placeholder="Search" />
        </mat-form-field>
      </span>
      <span>
        <button mat-icon-button [matMenuTriggerFor]="kabobMenu">
          <mat-icon>more_vert</mat-icon>
        </button>
      </span>
      <mat-menu #kabobMenu="matMenu">
        <mat-nav-list class="kabob-menu">
          <mat-list-item *ngFor="let menuItem of kabobMenuItems" class="kabob-menu">
            <a [routerLink]="menuItem.url" (click)="changeSection(menuItem)"> {{menuItem.title}} </a>
          </mat-list-item>
        </mat-nav-list>
      </mat-menu>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <div class="fill-page"> </div>
  </mat-sidenav-content>
</mat-sidenav-container>


