.search-area {
  flex: 1 1 auto;
  text-align:center;
}

.search-bar {
  width: 90%;
}

.sidebar-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  
}

.sidebar {
  color: white;
  background-color: #3f51b5;
}
